//colors
$color-primary:#55c57a;
$color-primary-light:#f0660bce;
$color-primary-light-2:#fa7e2b8f;

$color-primary-dark:#08eca0d0;
$color-grey-dark:#777; 
$color-grey-dark-2:#999; 
$color-grey-dark-3:#333; 
$color-grey-dark-4:rgba(138, 135, 135, 0.63);


$color-grey-light-1: #f7f7f7; 
$color-grey-light-2:#eee;; 

$color-white: #fff;
$color-black: #000;
$color-secondary-light:#faf612e0;
$color-secondary-dark:#ee7411d7;
$color-tertiary-dark:#493db6bd;
$color-tertiary-light:#428cb8ab;
$color-tertiary-light-2:#ee625dd0;
$color-tertiary-dark-2:#fd120aad;

//Grid
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font
$default-font-size:1.6rem;